@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  box-sizing: border-box;
}

.container {
  background-color: black;
  position: relative;
  padding: 20px;
  width: 559px;
  height: 468px;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Inter";
}

.purple {
  color: #ff18cc;
}

.row {
  flex: 1;
  background-color: black;
  height: 33.3%;
  display: flex;
  justify-content: center;
}

.square-text {
  position: absolute;
  z-index: 1;
}

.zaniest {
  letter-spacing: 2px;
  text-align: center;
  justify-content: center;
  width: 100%;
  line-height: 45px;
  left: 2px;
}

.square-1,
.square-2,
.square-3 {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 0 33.33333%;
}

.square-2 {
  z-index: 1;
  flex: 0 0 33.333%;
  background: #b6ebce;
  align-items: center;
}

.green {
  color: #33ff00;
}

.square-1:first-of-type {
  background-color: #ddabab;
  height: 100%;
  letter-spacing: 1px;
}
.square-1:nth-of-type(2) {
  background-color: black;
}

.square-1:nth-of-type(3) {
  background-color: #d9d9d9;
  font-size: 110px;
  justify-content: center;
  align-items: normal;
}

.gradient-background {
  position: absolute;
  z-index: 0;
  bottom: 20px;
  left: 20px;
  background: linear-gradient(-190deg, #c55353 0%, #3f968b 71%);
  width: calc(66.6% - 26px);
  height: calc(66.6% - 26px);
}
.row:nth-of-type(3) {
  justify-content: flex-end;
}
.square-3 {
  z-index: 1;
  background-color: #62c2f9;
  flex: 0 1 33.33333%;
}
.adventure {
  align-self: flex-start;
  position: absolute;
  right: 10px;
  letter-spacing: 2px;
}
.red {
  color: #f90000;
}
